extends ../layout.jade

block content

	.menu
		h2 Menu
		ul.nav.nav-pills
			li
				a(href="/makes") Make
			li
				a(href="/models") Model
			li.active
				a(href="/products") Products

	h1= title
	p= message
	.container.center_div
		form(action="/products", method="post")

			label Make: 	
			select(name='makeId')
				each make,index in makes
					option(value=make._id)= make.name
			br
			label Model:
			select(name='modelId')
				each model,index in models
					option(value=model._id)= model.name
			br
			label Name:
			input.input-block-level(type="text", name="name", placeholder="Name")
			br
			label Description:
			input.input-block-level(type="text", name="description", placeholder="Description")
			br
			label SKUID:			
			input.input-block-level(type="text", name="SKUID", placeholder="SKUID")
			br
			label Rack ID:
			input.input-block-level(type="text", name="rackId", placeholder="RackId")
			br
			label Inventory start date:
			input.input-block-level(type="text", name="inventoryStartDate", placeholder="Inventory start date")
			br
			label Manufacturing date:			
			input.input-block-level(type="text", name="manufacturingDate", placeholder="Manufacturing date")
			br
			label Sold date:
			input.input-block-level(type="text", name="soldDate", placeholder="Sold date")
			br
			label Price:	
			input.input-block-level(type="text", name="price", placeholder="Price")
			br
			label Color:	
			input.input-block-level(type="text", name="color", placeholder="Color")
			| <br> <br>
			button.btn.btn-primary(type="submit") Create