extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li
        a(href="/makes") Make
      li
        a(href="/models") Model
      li
        a(href="/products") Products
  .home
    p Select manufacture / model / product 
      |.