doctype html
html
  head
    title= "SKUModel"
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    //link(rel="stylesheet", href="/stylesheets/blue/style.css")

  body
    .container
      h1= "SKU Model"
      p Electronic products
      block content
  //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js', type="text/javascript")
  script(src='/plugins/tablesorter/jquery-latest.js', type="text/javascript")
  script(src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js', type="text/javascript")
  script(src='/plugins/tablesorter/jquery.tablesorter.js', type="text/javascript")